; Este arquivo deve ser copiado e estar atualizado no seguinte caminho: <WWW SERVIDOR WEB>\config

; Arquivo de configuração do Prevencao-odontologica
[config]
ambiente = "desenvolvimento"
url_app  = "http://localhost/seadra/"


[ds-adm]
dbms = "MYSQL"
port = "3306"
hostname = "localhost"
dbname = "seadra"
username = "seadra_bd"
password = "$2y$10$9Az8eI6v8/Ws5kTFEg8WO.pgQSkNdNI9mKO403ogSS37yGN61mtZm"